.container{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 13%; 
}

.usuario {
    background-image: url('im/usuariosesion.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form input {
    width: 90%;
    height: 38px;
    margin: 1%;
}

.form button {
    width: 50%;
}

@media(max-width: 768px) {
    .container {
        height: 30%;
        margin-top: 29%;
    }
}